$leftbar-width: max(38vw, 200px);
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


figure {
  .img-container {
  
    .city-background {
      position: absolute;
      width: $leftbar-width;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
    }
  
    .logo-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,0.4);
      left: 0;
      width: $leftbar-width;
      top: 20%;
      height: 150px;

      img {
        width: 4vw;
        margin-right: 10px;
        object-fit: fill;
      }
      
      .logo-text {
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-size: 3vw;
      }

    }
  
  }
  
}

