$leftbar-width: max(38vw, 200px);
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  
  display: flex;
  flex-direction: row;


  figure {
  .img-container {

    .city-background {
      position: absolute;
      width: $leftbar-width;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
    }
  
    .logo-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,0.4);
      left: 0;
      width: $leftbar-width;
      top: 22%;
      height: 150px;

      img {
        width: 4vw;
        margin-right: 10px;
        object-fit: fill;
      }
      
      .logo-text {
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-size: 3vw;
        text-shadow: 2px 2px 10px rgba(255,255,255,0.8);
      }

    }  
  }

}


 .rightside-section {
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  bottom: 0;
  left: $leftbar-width;
  z-index: 22;


.brand-msg-section {
  display: flex;
  height: 340px;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 246, 246);
  overflow: hidden;
  text-overflow:ellipsis;
  
  p {
    font-family: 'Orbitron', sans-serif;
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 23px;
    line-height: 40px;
    transition: all 0.2s ease-in-out;
  }

  p:hover {
    text-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
  } 
}

 }

 .form-section {
  margin-left: 15px;
  margin-left: 5vw;
  margin-right: 5vw;

  p {
    font-size: 28px
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 38vw;

    input {
      width: 12vw;
      height: 19px;
      border: solid #d8d9dd 2px;
    }
    
    input:valid {
      border: solid green;
    }

    label {
      margin-bottom: 5px;
      color: rgb(51, 50, 50);
    }

    .form-container {
      display: flex;
      justify-content: space-between;
  
      .input-container {
        display: flex;
        flex-direction: column;
      }
    }
  }

  
 }

 footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 200px;
  background-color: rgb(248, 246, 246);
  
  div{
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    margin-left: 5vw;

    button {
      background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: rgb(236, 233, 233); 
      padding: 16px 37px;  
      font-weight: bold;         
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;

    }
    button:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }

    .login-text {
      color: #53346D ;
      font-weight: bold;
    }

    .login-text:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  img{
    margin-top: 40px;
    margin-right: 1vw;
    width: 80px;
  }
}


}